name: Build Release APK

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Replace AdMob IDs
        run: |
          sed -i 's|ca-app-pub-3940256099942544~3347511713|${{ secrets.ADMOB_APP_ID }}|g' app/src/main/res/values/strings.xml
          sed -i 's|ca-app-pub-3940256099942544/6300978111|${{ secrets.ADMOB_UNIT_ID }}|g' app/src/main/res/values/strings.xml

      - name: Decode Keystore
        run: |
          echo "${{ secrets.JKS_BASE64 }}" | base64 --decode > app/release.jks

      - name: Build Signed Release APK
        run: ./gradlew assembleRelease
        env:
          SIGNING_STORE_FILE: release.jks
          SIGNING_STORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK to Release
        uses: softprops/action-gh-release@v2
        with:
          files: app/build/outputs/apk/release/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}